<template>
  <div>
    <md-toolbar class="md-primary" md-elevation="1">
      <h3 class="md-title" style="flex: 1">
        <router-link to="/" class="header-link">Title</router-link>
      </h3>

      <div v-if="isAuthorized">

        <md-avatar class="md-avatar-icon">
          <md-icon>home</md-icon>
        </md-avatar>

        <md-avatar class="md-avatar-icon">
          <md-icon>message</md-icon>
        </md-avatar>

        <md-avatar>
          <router-link to="/cabinet">
            <img :src="currentUser ? currentUser.account.avatar : ''" alt="Avatar">
          </router-link>
        </md-avatar>
      </div>
    </md-toolbar>
  </div>
</template>


<script>

import {mapActions, mapGetters} from 'vuex';

export default {
  name: 'Header',
  computed: {
    ...mapGetters({
      isAuthorized: 'authorization/isAuthorized',
      currentUser: 'user/getCurrentUser',
    }),
  },
  methods: {
    ...mapActions({
    })
  },
};
</script>

<style lang="scss" scoped>
.header-link {
  color: inherit !important;
}
</style>
