<template>
  <div class="sidebar">
    <md-list>
      <md-list-item>
        <md-icon>people</md-icon>
        <router-link class="md-list-item-text" to="/users">Users</router-link>
      </md-list-item>

      <md-list-item  md-expand>
        <md-icon>settings</md-icon>
        <span class="md-list-item-text">Settings</span>

        <md-list slot="md-expand">
          <md-list-item class="md-inset">
            <router-link class="md-list-item-text" to="/services">Services</router-link>
          </md-list-item>
          <md-list-item class="md-inset">
            <router-link class="md-list-item-text" to="/" :disabled="true">
              Other ....
            </router-link>
          </md-list-item>
        </md-list>

      </md-list-item>
    </md-list>
  </div>
</template>

<script>
export default {
  name: "Sidebar"
}
</script>

<style scoped lang="scss">
.sidebar {
  border-right: 1px solid grey;
  padding: 10px;
  height: calc(100vh - 64px);
}
.link {
  display: block;
}
</style>