<template>
    <md-card>
      <form novalidate @submit.prevent="validateForm">
        <md-card-content>
          <div class="md-layout md-gutter modal-form">

            <div class="md-layout-item md-size-100 md-small-size-100">
              <md-field :class="getValidationClass('title')">
                <label for="title">Title</label>
                <md-input name="title" id="title" v-model="form.title" :disabled="sending"/>
                <span class="md-error">
                    <span v-if="!$v.form.title.required">Field "title" is required</span>
                    <span v-if="httpErrors.fields && httpErrors.fields.title">
                        {{ httpErrors.fields.title }}
                    </span>
                </span>
              </md-field>
            </div>

            <div class="md-layout-item md-size-100 md-small-size-100">
              <md-field :class="getValidationClass('route')">
                <label for="route">Route</label>
                <md-input name="route" id="route" v-model="form.route" :disabled="sending"/>
                <span class="md-error">
                    <span v-if="!$v.form.route.required">Field "route" is required</span>
                    <span v-if="httpErrors.fields && httpErrors.fields.route">
                        {{ httpErrors.fields.route }}
                    </span>
                  </span>
              </md-field>
            </div>

            <div class="md-layout-item md-size-100 md-small-size-100">
              <md-field :class="getValidationClass('link')">
                <label for="link">Link</label>
                <md-input name="link" id="link" v-model="form.link" :disabled="sending"/>
                <span class="md-error">
                    <span v-if="!$v.form.link.required">Field "link" is required</span>
                    <span v-if="httpErrors.fields && httpErrors.fields.link">
                        {{ httpErrors.fields.link }}
                    </span>
                  </span>
              </md-field>
            </div>

            <md-button type="submit" class="md-primary submit-button" :disabled="sending">Send</md-button>
          </div>
        </md-card-content>

        <md-progress-bar md-mode="indeterminate" v-if="sending"/>
      </form>
    </md-card>
</template>

<script>
import {validationMixin} from 'vuelidate';
import {mapActions, mapGetters} from 'vuex';
import ServiceForm from '../../dto/forms/ServiceForm';
import {FormService} from '../../services/FormService';

export default {
  name: 'ManageService',
  mixins: [validationMixin],
  async created() {
    await this.fetchService({id: this.$route.params.id})
    this.form = new ServiceForm(this.service);
  },
  data: () => ({
    form: new ServiceForm(),
    sending: false,
  }),
  validations: function () {
    return this.form.validation()
  },
  computed: {
    ...mapGetters({
      httpErrors: 'validation/errors',
      service: 'service/getService'
    }),
  },
  methods: {
    ...mapActions({
      clearHttpErrors: 'validation/clearErrors',
      fetchService: 'service/fetchService',
      registerService: 'service/registerService',
      updateService: 'service/updateService',
    }),
    serviceFormDialog() {
      this.clearForm();
    },
    getValidationClass(fieldName) {
      return FormService.getValidationClass(this.$v.form, this.httpErrors, fieldName);
    },
    clearForm() {
      this.$v.$reset();
      this.clearHttpErrors();

      this.form.reset();
    },
    sendForm() {
      this.sending = true;
      this.clearHttpErrors();

      if (this.form.id) {
        this.updateService(this.form).then((res) => {
          this.$notify({
            group: 'dashboard',
            title: 'Success',
            text: `Service "${this.service.title}" updated`,
          });
        });
      } else {
        this.registerService(this.form).then((res) => {
          this.$notify({
            group: 'dashboard',
            title: 'Success',
            text: `Service "${this.service.title}" registered`,
          });
        });
      }

      this.sending = false;
    },
    validateForm() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.sendForm();
      }
    },
  },
};
</script>

<style lang="scss">
.text-center {
  text-align: center;
}

.md-dialog .md-dialog-container {
  max-width: 768px;
}

.modal-form {
  padding: 10px;
}

.submit-button {
  width: 100%;
}

.md-card-content {
  padding: 0 !important;
}

.md-field {
  margin: 10px 0 !important;
}

.close-button {
  float: right;
  border-radius: 50%;
  border: 1px solid;
  background: transparent;
  font-size: 21px;
  cursor: pointer;
  width: 28px;
}
</style>
