<template>
  <div>
    <md-table md-card>
      <md-table-toolbar>
        <h1 class="md-title">Services

          <router-link :to="{name: 'manage-service'}" class="right">
            New service
          </router-link>

        </h1>
      </md-table-toolbar>

      <md-table-row>
        <md-table-head md-numeric>ID</md-table-head>
        <md-table-head>Title</md-table-head>
        <md-table-head>Route</md-table-head>
        <md-table-head>Link</md-table-head>
        <md-table-head>Created At</md-table-head>
        <md-table-head>Actions</md-table-head>
      </md-table-row>

      <md-table-row v-for="(service, index) in servicesList" :key="index">
        <md-table-cell md-numeric>{{ service.id }}</md-table-cell>
        <md-table-cell>{{ service.title }}</md-table-cell>
        <md-table-cell>{{ service.route }}</md-table-cell>
        <md-table-cell>{{ service.link }}</md-table-cell>
        <md-table-cell>{{ service.createdAt }}</md-table-cell>
        <md-table-cell>
          <router-link :to="{name: 'manage-service', params: { id: service.id }}">
            <span class="material-icons">
              perm_data_setting
            </span>
          </router-link>
        </md-table-cell>
      </md-table-row>
    </md-table>
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: "ServicesList",
  async created() {
    await this.fetchServicesList()
  },
  computed: {
    ...mapGetters({
      'servicesList': 'service/getServicesList',
      'service': 'service/getService'
    })
  },
  methods: {
    ...mapActions({
      fetchServicesList: 'service/fetchServicesList'
    }),
  }
}
</script>

<style scoped>

</style>