<template>
  <div class="app-wrapper">
    <Header></Header>
    <div class="md-layout">
      <div class="md-layout-item md-size-15 md-small-size-15">
        <sidebar></sidebar>
      </div>
      <div class="md-layout-item md-size-85 md-small-size-85">
        <nuxt/>
      </div>
    </div>
    <notifications group="dashboard"  position="bottom right"/>
  </div>
</template>

<script>

import Header from '../components/Header';
import Sidebar from "../components/Sidebar";

export default {
  name: 'defaultLayout',
  components: {Sidebar, Header},
};
</script>

<style lang="scss">
.app-wrapper {
  min-height: 100vh;
}

.page-container {
  min-height: calc(100vh - 64px);
}

@media screen and (max-width: 600px) {
  .md-layout{
    padding: 5px !important;
  }
}
</style>

