<template>
  <div class="sign-in-form" >
    <form v-if="!sended" novalidate class="md-layout" @submit.prevent="validateSignIn">
      <md-card>
        <md-card-content>
          <div class="md-layout md-gutter modal-form">

            <div class="md-layout-item md-size-100 md-small-size-100">
              <md-field :class="getValidationClass('email')">
                <label for="email">Email</label>
                <md-input name="email" id="email" v-model="form.email" :disabled="sending"/>
                <span class="md-error">
                    <span v-if="!$v.form.email.required">This field is required</span>
                    <span v-if="!$v.form.email.email">{{ !$v.form.email.email }}</span>
                  </span>
              </md-field>
            </div>

            <div class="md-layout-item md-size-100 md-small-size-100">
              <md-field :class="getValidationClass('password')">
                <label for="password">Пароль</label>
                <md-input type="password" name="password" id="password" v-model="form.password" :disabled="sending"/>
                <span class="md-error">
                    <span v-if="!$v.form.password.required">This field is required</span>
                    <span v-if="httpErrors && httpErrors.message">{{ httpErrors.message }}</span>
                  </span>
              </md-field>
            </div>

            <md-button type="submit" class="md-primary submit-button" :disabled="sending">Sign In</md-button>
          </div>
        </md-card-content>

        <md-progress-bar md-mode="indeterminate" v-if="sending"/>

      </md-card>
    </form>
  </div>
</template>

<script>
import {validationMixin} from "vuelidate";
import {mapActions, mapGetters} from "vuex";
import LoginForm from "../../dto/forms/LoginForm";
import {FormService} from "../../services/FormService";

export default {
  name: "SignIn",
  layout: "auth",
  mixins: [validationMixin],
  data: () => ({
    form: new LoginForm(),
    sending: false,
    sended: false,
  }),
  computed: {
    ...mapGetters({
      httpErrors: 'validation/errors',
    }),
  },
  validations: function () {
    return this.form.validation()
  },
  methods: {
    ...mapActions({
      clearHttpErrors: 'validation/clearErrors',
      login: 'authorization/login',
    }),
    getValidationClass(fieldName) {
      return FormService.getValidationClass(this.$v.form, this.httpErrors, fieldName);
    },
    clearForm() {
      this.$v.$reset();
      this.clearHttpErrors();

      this.form.reset();
    },
    signIn() {
      this.sending = true;
      this.clearHttpErrors();

      this.login(this.form).then(
          response => {
            this.sended = true;
            this.$router.push('/')
          }
      );
      this.sending = false;
    },
    validateSignIn() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.signIn();
      }
    },
  }
}
</script>

<style scoped lang="scss">
.sign-in-form {
  display: flex;
  height: calc(100vh - 64px);
  align-items: center;
  justify-content: center;
}
</style>