<template>
  <div>
    <md-table md-card>
      <md-table-toolbar>
        <h1 class="md-title">
          Users
          <router-link :to="{name: 'manage-users'}" class="right">
            New User
          </router-link>
        </h1>
      </md-table-toolbar>

      <md-table-row>
        <md-table-head md-numeric>ID</md-table-head>
        <md-table-head>Name</md-table-head>
        <md-table-head>Email</md-table-head>
        <md-table-head>Is Admin</md-table-head>
        <md-table-head>Created At</md-table-head>
        <md-table-head>Actions</md-table-head>
      </md-table-row>

      <md-table-row v-for="(user, index) in usersList" :key="index">
        <md-table-cell md-numeric>{{ user.id }}</md-table-cell>
        <md-table-cell>{{ user.name }}</md-table-cell>
        <md-table-cell>{{ user.email }}</md-table-cell>
        <md-table-cell>
          <span v-if="user.isAdmin" class="material-icons text-info">check_box</span>
          <span v-if="!user.isAdmin"  class="material-icons text-danget">indeterminate_check_box</span>
        </md-table-cell>
        <md-table-cell>{{ user.createdAt }}</md-table-cell>
        <md-table-cell>
          <router-link :to="{name: 'manage-users', params: { id: user.id }}">
            <span class="material-icons">
              perm_data_setting
            </span>
          </router-link>
        </md-table-cell>
      </md-table-row>
    </md-table>
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: "UsersList",
  async created() {
    await this.fetchUsersList()
  },
  computed: {
    ...mapGetters({
      'usersList' : 'user/getUsersList',
      'user' : 'user/getUser'
    })
  },
  methods: {
    ...mapActions({
      fetchUsersList: 'user/fetchUsersList'
    })
  }
}
</script>

<style scoped>

</style>